@charset "UTF-8";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: OpenSans, Helvetica, Arial, Verdana, sans-serif;
  color: rgb(25,25,25);
}

body.page > main, body.blog > main article {
    background-color: #efefef;
    border-radius: .5em;
    border: 1px solid #333;
    border-top-width: 3px;
    padding: 1em;
    margin-bottom: 2em;
}

.grey {
  background-color: #ccc; }

.blue {
  background-color: #24f; }

.lblue {
  background-color: #09f;
}

.fL, .row .col, .row .col.fL, .row .row .col.col, .row .row .col.col {
  float: left; }

.fR, .row .col.fR {
  float: right; }

.fN, .row .col.fN {
  float: none; }

.clr:before {
  content: "";
  width: 100%;
  clear: both;
  display: block;
  display: table;
}

.tL {
  text-align: left; }

.tR {
  text-align: right; }

.tC {
  text-align: center; }

.tJ {
  text-align: justify; }

.tI {
  font-style: italic; }

.tB {
  font-weight: 700; }

.tN {
  font-weight: 400; }

form {
  margin: 0;
  border: 0;
  padding: 0; }

fieldset, legend, label {
  border: 0;
  margin: 0; }

fieldset, fieldset > legend, input, label, select, textarea, button {
  margin: 0;
  width: 100%;
  display: block;
  font-size: 1rem;
  padding: 0.25rem; }

legend, label {
  font-weight: bold; }

label:after {
  content: ":";
  font-weight: inherit; }

fieldset {
  padding: 0;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid; }

textarea {
  resize: vertical;
  min-height: 10rem;
}

.quote {
  text-align: center;
  position: relative;
  display: block;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 4rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
}

.quote:before, .quote:after {
  vertical-align: middle;
  font-size: 500%;
  position: absolute;
  top: 1rem;
  line-height: 1; }

.quote:before {
  content: open-quote;
  left: 1rem; }

.quote:after {
  content: close-quote;
  right: 1rem; }

.noPad {
  padding: 0 !important; }

.noMarg {
  margin: 0 !important; }

.row:after {
  content: "";
  width: 100%;
  clear: both;
  display: block;
  display: table;
}

.row .col {
  width: 100%;
  display: block;
  min-height: 1em;
  float: left;
  margin: 0;
  padding: 0; }

.row:not(.nopad) .col:not(.nopad) {
  padding: 0.5rem 1rem; }

.gist-data.gist-syntax {
  display: none; }

@media (min-width: 600px) {
  .gist-data.gist-syntax {
    display: block; }

  .row.grid2 .col {
    width: 50%; }

  .row.grid2 .col:nth-of-type(2n+1):before {
    content: "";
    width: 100%;
    clear: both;
    display: block;
    display: table;
 }

  .row.grid2 .col.sp2 {
    content: "";
    width: 100%;
    clear: both;
    display: block;
    display: table;

    width: 100%; }

  .row.grid3 .col, .row.grid6.flex .col {
    width: 33.33%; }

  .row.grid3 .col:nth-of-type(3n+1):before, .row.grid6.flex .col:nth-of-type(3n+1):before {
    content: "";
    width: 100%;
    clear: both;
    display: block;
    display: table;
 }

  .row.grid3 .col.sp2, .row.grid6.flex .col.sp2 {
    width: 66.6%; }

  .row.grid3 .col.sp3, .row.grid6.flex .col.sp3 {
    content: "";
    width: 100%;
    clear: both;
    display: block;
    display: table;

    width: 100%; }

  .row.grid4 .col, .row.grid8.flex .col {
    width: 25%; }

  .row.grid4 .col:nth-of-type(4n+1):before, .row.grid8.flex .col:nth-of-type(4n+1):before {
    content: "";
    width: 100%;
    clear: both;
    display: block;
    display: table;
 }

  .row.grid4 .col.sp2, .row.grid8.flex .col.sp2 {
    width: 50%; }

  .row.grid4 .col.sp3, .row.grid8.flex .col.sp3 {
    width: 75%; }

  .row.grid4 .col.sp4, .row.grid8.flex .col.sp4 {
    content: "";
    width: 100%;
    clear: both;
    display: block;
    display: table;

    width: 100%; }

  .row.grid7.tab .col {
    width: 14.28%; }

  .row.grid7.tab .col:nth-of-type(7n+1):before {
    content: "";
    width: 100%;
    clear: both;
    display: block;
    display: table;
 }

  .row.grid7.tab .col.sp2 {
    width: 28.57%; }

  .row.grid7.tab .col.sp5 {
    width: 71.42%; }

  .row.grid7.tab .col.sp7 {
    content: "";
    width: 100%;
    clear: both;
    display: block;
    display: table;

    width: 100%; } }
@media (min-width: 1000px) {
  .row.grid8.flex .col {
    width: 12.5%; }

  .row.grid8.flex .col:nth-of-type(8n+1):before {
    content: "";
    width: 100%;
    clear: both;
    display: block;
    display: table;
}

  .row.grid8.flex .col.sp2 {
    width: 25%; }

  .row.grid8.flex .col.sp3 {
    width: 37.5%; }

  .row.grid8.flex .col.sp4 {
    width: 50%; }

  .row.grid8.flex .col.sp5 {
    width: 62.5%; }

  .row.grid8.flex .col.sp6 {
    width: 75%; }

  .row.grid8.flex .col.sp7 {
    width: 87.5%; }

  .row.grid8.flex .col.sp8 {
    content: "";
    width: 100%;
    clear: both;
    display: block;
    display: table;

    width: 100%; }

  .row.grid7 .col {
    width: 14.28%; }

  .row.grid7 .col:nth-of-type(7n+1):before {
    content: "";
    width: 100%;
    clear: both;
    display: block;
    display: table;
 }

  .row.grid7 .col.sp2 {
    width: 28.57%; }

  .row.grid7 .col.sp3 {
    width: 42.85%; }

  .row.grid7 .col.sp4 {
    width: 57.14%; }

  .row.grid7 .col.sp5 {
    width: 71.42%; }

  .row.grid7 .col.sp6 {
    width: 85.71%; }

  .row.grid7 .col.sp7 {
    content: "";
    width: 100%;
    clear: both;
    display: block;
    display: table;

    width: 100%; }

  .row.grid6.flex .col {
    width: 16.66%; }

  .row.grid6.flex .col:nth-of-type(6n+1):before {
    content: "";
    width: 100%;
    clear: both;
    display: block;
    display: table;
 }

  .row.grid6.flex .col.sp2 {
    width: 33.33%; }

  .row.grid6.flex .col.sp3 {
    width: 50%; }

  .row.grid6.flex .col.sp4 {
    width: 66.66%; }

  .row.grid6.flex .col.sp5 {
    width: 83.33%; }

  .row.grid6.flex .col.sp6 {
    content: "";
    width: 100%;
    clear: both;
    display: block;
    display: table;

    width: 100%; }

  .row.grid5.flex .col {
    width: 20%; }

  .row.grid5.flex .col:nth-of-type(5n+1):before {
    content: "";
    width: 100%;
    clear: both;
    display: block;
    display: table;
 }

  .row.grid5.flex .col.sp2 {
    width: 40%; }

  .row.grid5.flex .col.sp3 {
    width: 60%; }

  .row.grid5.flex .col.sp4 {
    width: 80%; }

  .row.grid5.flex .col.sp5 {
    content: "";
    width: 100%;
    clear: both;
    display: block;
    display: table;

    width: 100%; } }
body, html {
  min-width: 320px; }

body > main, body > article, body > footer {
  padding: 1em; }

img {
  width: 100%;
  height: auto; }

a {
  text-decoration: none;
  color: #4d005b; }

a, a img {
  border: none;
  outline: none; }

main a > span.fa {
  color: black; }

main a > span.fa.fa-twitter {
  color: #55acee; }

main a > span.fa.fa-linkedin {
  color: #0177b5; }

main a > span.fa.fa-facebook {
  color: #3b579d; }

main a > span.fa.fa-dribbble {
  color: #E04C86; }

main a > span.fa.fa-jsfiddle {
  color: #4679BD; }

a:hover {
  text-decoration: underline; }

p {
  padding-top: 0;
  margin-top: 0; }
p, ul, dt, dd {
  line-height: 1.75em; }

body > header .logo {
  width: 185px;
  display: inline-block; }

body > header .header-logo {
  padding-top: 1em; }

body > header h1 {
  display: inline-block;
  font-size: 400%;
  vertical-align: text-bottom;
  margin: 0; }

body > header:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
  display: table; }

nav {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 2em; }

nav ul, footer ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none; }

nav ul li {
  margin: .25em;
  padding: 0 0em;
  background-color: #965ac8; }

nav ul li a {
  text-decoration: none;
  display: block;
  padding: .5em 1em;
  color: white;
  width: 100%; }

nav ul li:hover, nav ul li.current-menu-item {
  background-color: #6e46a0; }

nav ul li a, h1, h2, h3, h4, h5, h6 {
  text-transform: capitalize; }

@media (min-width: 400px) {
  body header h1 {
    font-size: 500%; } }
@media (min-width: 600px) {
  nav ul li {
    display: inline-block;
    transition: all .3333s ease-in-out; }

  nav ul li:hover, nav ul li.current-menu-item {
    transform: scale(1.2); }

  nav ul li a {
    display: inline-block; } }
body > main, body article {
  margin: 0 auto;
  max-width: 45em; }

.post-date{ font-size: 0.8em; padding-top: 1rem; display: block; font-style: italic; }
@media (min-width: 50rem) { .post-date{ font-size: 1em; padding: .5rem 0;display: inline-block;width: 11rem} }

@media (min-width: 800px) {
    ul.two-col::after {
        content: "";
        clear: both;
        display: table;
        zoom: 1;
    }
    ul.two-col > li {
        display: block;
        float: left;
        width: 48%;
    }
}

.quote {
  quotes: "“" "”" "‘" "’"; }

.tag {
  background-color: #6e46a0;
  color: lightcyan;
  display: inline-block;
  padding: .01em .5em;
  border-radius: .5em;
  margin-left: .5em;
  margin-bottom: .25em; }

::selection {
  background-color: #6e46a0;
  color: lightcyan; }

.feature {
  position: relative;
  max-height: 525px;
  overflow: hidden; }

.feature .title {
  position: absolute;
  top: 0;
  left: 1rem;
  font-style: italic;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.8); }

@media (min-width: 50em) {
  .widebar-left .col.fL, .widebar-right .col.fL {
    padding-right: 1em !important; } }
@media (min-width: 50em) {
  .feature .title {
    top: 10%;
    font-size: 300%;
    left: 1em; } }
@media (min-width: 75em) {
  .feature .title {
    top: 29%;
    left: 2em; } }

img.emoji {
  display: inline !important;
  border: none !important;
  box-shadow: none !important;
  margin: 0 .07em !important;
  vertical-align: -0.1em !important;
  background: none !important;
  padding: 0 !important; }

.gist table {
  margin-bottom: 0 !important; }

.gist .line-numbers {
  width: 4em !important; }

.gist .line,
.gist .line-number {
  font-size: 12px !important;
  height: 18px !important;
  line-height: 18px !important; }

.gist .line {
  white-space: pre !important;
  width: auto !important;
  word-wrap: normal !important; }

.gist .line span {
  word-wrap: normal !important; }

.recentcomments a {
  display: inline !important;
  padding: 0 !important;
  margin: 0 !important; }

body.custom-background {
  background-color: #d5c7e2; }

body {
  background-color: #efefef !important;
  background: linear-gradient(#d5c7e2, #efefef) no-repeat; }

body > header{
  background-color: rgb(200,109,215) !important;
  background: -webkit-gradient(linear, top, right bottom, from(rgb(48,35,174)), to(rgb(200,109,215))) no-repeat;
  background: -webkit-linear-gradient(top, rgb(48,35,174), rgb(200,109,215)) no-repeat;
  background-image: -moz-linear-gradient(top, rgb(48,35,174), rgb(200,109,215)) no-repeat;
  background: -o-linear-gradient(top, rgb(48,35,174), rgb(200,109,215)) no-repeat;
  background: -ms-linear-gradient(top, rgb(48,35,174), rgb(200,109,215)) no-repeat;
  background: linear-gradient(top, rgb(48,35,174), rgb(200,109,215)) no-repeat; }
body{background-color: #c86dd7;}

.running-list { padding: 0; margin: 0; }

ul > li > svg { vertical-align: sub; }

blockquote {
  border-left: .5rem solid purple;
  padding-left: 1rem;
  margin-left: 0;
}
table {
  margin-bottom: 1em;
  border-collapse: collapse
}
table > tbody > tr:nth-child(odd) {
  background-color: rgba(0,0,0,.2)
}
thead > tr:last-of-type,
tbody > tr:last-of-type {
  border-bottom: 1px solid #000
}

li { line-height: 2 }

span[title] {
  border: 1px dashed;
  display: inline-block;
  padding: 5px;
  line-height: 1;
}

h1 {font-size: 1.6em}
h2 {font-size: 1.4em}
h3 {font-size: 1.2em}

summary {
  font-style: italic;
}

details {
  margin-bottom: 1em;
}
details[open] {
  border-bottom: 1px dashed;
}
/* This is not screen-reader only text, this is hidden, hidden text */
.hidden {display: none;}

.toggle-fragmention {cursor: pointer}

pre{overflow:auto;}
pre.multiline{display: block; max-height: 15em; max-height: 15rem; max-height: 80vh; max-height: 80vh}

.u-x-icon {max-height: 1.3em; vertical-align: text-bottom; border-radius: 25%; width: auto; max-width: 2em}

/* WebFonts */
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(/fonts/opensans/mem8YaGs126MiZpBA-UFWJ0bbck.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(/fonts/opensans/mem8YaGs126MiZpBA-UFUZ0bbck.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(/fonts/opensans/mem8YaGs126MiZpBA-UFWZ0bbck.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(/fonts/opensans/mem8YaGs126MiZpBA-UFVp0bbck.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(/fonts/opensans/mem8YaGs126MiZpBA-UFWp0bbck.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(/fonts/opensans/mem8YaGs126MiZpBA-UFW50bbck.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(/fonts/opensans/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
dt {
  font-weight: bold;
}
dd {
  margin: 0;
  margin-bottom: 1em;
}
code[data-language="php"]::before {
  content: "\A<?php";
}
figure { margin: 0; }
